@font-face {
    font-family: "Andale";
    src: local("fonts"),
     url(../fonts/oracle.TTF) format("truetype");
}

@font-face {
  font-family: "Apercu";
  src: local("fonts"),
   url(../fonts/Apercu-Mono.ttf) format("truetype");
}

@font-face {
  font-family: "Century";
  src: local("fonts"),
  url(../fonts/Century-Schoolbook.ttf) format("truetype");
}

@font-face {
  font-family: "Candara";
  src: local("fonts"),
  url(../fonts/Candara.ttf) format("truetype");
}

h1{
  color: #F2F2F2;
}

button{
  transition: all .3s;
}

button:focus{
    box-shadow: none;
}

button:active, a{
    transform: translateY(3px)!important;
}

button:hover{
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

hr{
  background-color: #a89f8f;
  height: 3px;
}

#alert-error i{
  color: red;
  font-size: 400%;
  margin-top: 2%;
  margin-bottom: 2%;
}

#alert-error > h1{
  color: #F0A82E;
}

#alert-error p{
  color: #F2F2F2;
  font-size: 1.5em;
}

#alert-error button{
    display: block;
    box-sizing: border-box;
    background-color:#414141;
    border: 1px solid #707070;
    border-radius: 1.5em;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 0.8em 1.5em;
    color: rgb(241, 229, 209);
    font-size: 1.3em;
    font-family: Candara;
    margin-top: 1em;
    transition: all .3s;
}

.invalid-message{
  color: red;
  transition: all .8s!important;
}

.invalid-inactive{
  display:none;
  opacity: 0;
}

.invalid-active{
  display: block;
  opacity: 1;
}