@font-face {
    font-family: "Andale";
    src: local("fonts"),
     url(../fonts/oracle.TTF) format("truetype");
}

@font-face {
  font-family: "Century";
  src: local("fonts"),
  url(../fonts/Century-Schoolbook.ttf) format("truetype");
}

@font-face {
  font-family: "Candara";
  src: local("fonts"),
  url(../fonts/Candara.ttf) format("truetype");
}

button:focus{
    box-shadow: none;
}

button:active{
    transform: translateY(3px)!important;
}

button:hover{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}