/*reset.css*/
/* RESETS */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: none;
  margin: none;
}

html {
  font-size: 62.5% / 1.15;
}

ul {
  list-style: none;
  padding: 0;
}
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

button:active,
button:focus{
  outline: none!important;
}

button::-moz-focus-inner {
  border: 0;
}
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {

  overflow: visible;
}

@media screen and (min-width: 620px) {
  body {
    font-size: 1.9rem;
    line-height: 1.31579;
  }
}

a:active,
a:focus{
  border: none;
  outline: none;
}

a:hover{
  text-decoration: none!important;
}

a{
  color: none;
  font-style: none;
  width: 0;

}
/*END RESETS*/
