table{
    text-align:center;
    font-family: var(--main-font-family);
}

tr{
    border-bottom: 1px #707070 solid;
}

thead > tr{
    border-bottom: none;
    font-size: 1.5em;
    color: #F2F2F2;
}   

tr td{
    color: #F0A82E;
    font-size: 1.3em;
    text-transform: uppercase;
}

tr td:nth-child(1){
    color: #F2F2F2;
}

.btn-pay{
    background-color:#fcab1f;
    padding: .1em 1em;
    border-radius: 1em;
}

.btn-pay-disabled{
    background-color: #fcab1f9a;
    background-color: #ef42426c;
}

.btn-remove-disabled:hover, 
.btn-remove-disabled:active,
.btn-pay-disabled:hover,
.btn-pay-disabled:active{
    cursor: not-allowed;
    transform: none!important;
}

.holds-pagination{
    display: flex;
    justify-content: center;
}

li.active{
    background-color: rgb(43, 47, 49);
}

li.active button, li.active > button:focus{
    background-color: #fcab1f!important;
    border-color: #fcab1f!important;
    box-shadow: none;
}

#holds-fetch-alert{
    width: 50em;
    font-family: var(--card-font-family);
    position: relative;
    margin: auto;
    bottom: 8%;
}

@media (max-width: 575.98px) {
    #holds-fetch-alert{
      width: 90%;
    }
  }

  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 767.98px) {
    #holds-fetch-alert{
      width: 90%;
    }
  }

  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 991.98px) {

    #holds-fetch-alert{
      width: 90%;
    }
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1199.98px) {
  
  }

  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
   
  }